<div class="bg-light h-min p-4 rounded-lg">
  <%= form_with model: pop, method: :post do |f| %>
    <div class="form-field">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-field my-2">
      <%= f.label :image, class: "btn btn-secondary" %>
      <%= f.file_field :image, class: "d-none" %>
    </div>
    <%= f.submit 'pop', class: "btn btn-success w-100" %>
  <% end %>
</div>