<div class="text-center justify-content-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h2 class="text-light">Edit Your Profile</h2>
        <%= image_tag @profile.get_profile_image, size: "300x300", class: "rounded-circle my-2", style: "object-fit: cover; object-position: 50% 0%" %>
      </div>
      <div class="col-5 bg-light rounded-lg p-4">
        <%= form_with url: user_profiles_path, method: :put do |f| %>
          <%= f.fields_for :profile do |f| %>
            <div class="field mb-2">
              <%= f.label :user_name %><br />
              <%= f.text_field :user_name, class: "form-control", value: @profile.user_name %>
            </div>

            <div class="field mb-2">
              <%= f.label :bio %>
              <%= f.text_area :bio, class: "form-control", value: @profile.bio %>
            </div>

            <div class="field mb-2">
              <%= f.label :birthday %>
              <%= f.date_field :birthday, value: @profile.birthday %>
            </div>

            <div class="field mb-2">
              <%= f.label :image, class: "btn btn-secondary w-75" %>
              <%= f.file_field :image, class: "d-none" %>
            </div>

            <div class="actions">
              <%= f.submit "Update Profile", class: "btn btn-primary btn-lg w-100" %>
            </div>
          <% end %>
        <% end %>
        <p class="mt-2 mb-3 text-muted">&copy; 2017–2021</p>
      </div>
    </div>
  </div>
</div>