<div class="text-center justify-content-center form-signin" style="padding-top: 50px;">
  <div class="w-25 m-auto rounded-lg p-4 bg-light container">
    <% @notifications.each do |notification| %>
      <div class="row">
        <span><%= notification.visitor.profile.user_name %>さんが</span>
        <% case notification.action when 'follow' %>
          <%= link_to user_path(notification.visitor_id) do %>
            <span>あなたをフォローしました</span>
          <% end %>
        <% when 'favorite' %>
          <%= link_to pop_path(notification.pop_id) do %>
            <span>あなたの投稿にいいねしました</span>
          <% end %>
        <% when 'comment' %>
          <%= link_to pop_path(notification.pop_id) do %>
            <sapn>あなたの投稿に返信しました</sapn>
          <% end %>
        <% when 'chat' %>
          <%= link_to chat_path(notification.room_id) do %>
            <span>あなたにメッセージを送信しました</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




