<div class="container mt-5">
    <%= render 'snippets/pop_card', pop: @pop %>
    <div class="comment-form my-4">
      <%= form_with model: [@pop, @comment], method: :post do |f| %>
        <div class="form-field mb-2 w-75">
          <label for="body">Comment</label>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit "Comment", class: "btn btn-success" %>
      <% end %>
    </div>
    <% @pop.comments.each do |comment| %>
      <%= render 'snippets/comment_card', comment: comment %>
    <% end %>
</div>