<div class="container py-4">
  <div class="row">
    <div class="col-3 ml-0">
      <%= render 'snippets/pop_form', pop: @pop %>
      <div class="search-form mx-auto mt-3 bg-light p-2 rounded-lg">
        <%= search_form_for @q, url: search_pops_path do |f| %>
          <%= f.label :body_cont, 'Pops' %>
          <%= f.search_field :body_cont %>
          <%= f.submit 'Search', class: "btn btn-success py-0" %>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <div class="container">
        <% @pops.each do |pop| %>
          <%= render 'snippets/pop_card', pop: pop %>
        <% end %>
      </div>
    </div>
  </div>
</div>