 <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <%= link_to "Gamers", root_path, class: "navbar-brand mx-5" %>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <% if admin_signed_in? %>
            <li>
              <%= link_to "Users", admin_users_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Pops", pops_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Parties", parties_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <% if !current_user.guest? %>
              <li class="nav-item">
                <%= link_to notifications_path, class: "text-decoration-none text-light nav-link" do %>
                  <i class="fas fa-bell"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user.id) do %>
                  <%= image_tag current_user.profile.get_profile_image, size: "40x40", class: "rounded-circle mx-2", style: "object-fit: cover; object-position: 50% 0%" %>
                <% end %>
              </li>
            <% end %>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>